{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <td class="fw-bold text-start">Symbol</td>
            <td class="fw-bold text-end">Shares</td>
            <td class="fw-bold text-end">Price</td>
            <td class="fw-bold text-end">Date</td>
        </thead>
        <tbody>
            {% for purchase in purchase_history %}
                <tr>
                    <td class="text-start">{{ purchase["symbol"] }}</td>
                    <td class="text-end">{{ purchase["count"] }}</td>
                    <td class="text-end">{{ purchase["old_price"] }}</td>
                    <td class="text-end">{{ purchase["purchase_date"] }}</td>
                </tr>
            {% endfor %}
            {% for sell in sell_history %}
            <tr>
                <td class="text-start">{{ sell["symbol"] }}</td>
                <td class="text-end">{{ -sell["count"] }}</td>
                <td class="text-end">{{ sell["sell_price"] }}</td>
                <td class="text-end">{{ sell["sell_date"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
