{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for data in purchase_data %}
                <tr>
                    <td class="text-start">{{ data["stock"] }}</td>
                    <td class="text-end">{{ data["amount"] }}</td>
                    <td class="text-end">{{ lookup(data["stock"])["price"] }}</td>
                    <td class="text-end">{{ round(lookup(data["stock"])["price"] * data["amount"], 2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="fw-bold text-end">Cash <span style="font-weight: normal;">{{round(user_cash, 2)}}</span></p>
    <p class="fw-bold text-end">TOTAL <span style="font-weight: normal;">{{round(total, 2)}}</span></p>
{% endblock %}
