{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form class="form-select mx-auto w-auto" action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="sell-stock" required>
                <option selected="" disabled="">Stock symbol</option>
                {% for symbol in symbols %}
                    <option  value="{{symbol["stock"]}}">{{symbol["stock"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="number" name="sell-stock-count" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
